.heading-2 {
  box-sizing: border-box;
  margin: 48px 0 24px;
  color: #ffffff;
  text-align: left;
}

.heading_42 {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  margin: 5px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
}

.img-2 {
  display: block;
  margin: auto;
  max-width: 100%;
}

.background-2{
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
}

.card-2 {
  margin: 1rem;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;

  flex: calc(25% - 2rem);
}

.card-header-2 {
  text-align: center;
}
.logo{
  text-align: center;
  display: block;
  object-fit: contain;
  padding-left: 10px;
  padding-bottom: 10px;
}
